@import "tailwindcss";

@theme {
  --color-bgMain: #FCFAF8;
  --color-primary: #E29578;
  --color-primaryHover: #C07055;
  --color-textMain: #44403C;
  --color-bgAccent: #FDF0EB;

  --font-prompt: 'Prompt', sans-serif;
  --font-mali: 'Mali', cursive;
  --font-itim: 'Itim', cursive;
}

body {
  background-color: var(--color-bgMain);
  color: var(--color-textMain);
  font-family: var(--font-prompt);
}