@import "tailwindcss";

@theme {
  --color-bgMain: #FCFAF8;
  --color-primary: #E29578;
  --color-primaryHover: #C07055;
  --color-textMain: #44403C;
  --color-bgAccent: #FDF0EB;

  --font-prompt: 'Prompt', sans-serif;
  --font-mali: 'Mali', cursive;
  --font-itim: 'Itim', cursive;
}

body {
  background-color: var(--color-bgMain);
  color: var(--color-textMain);
  font-family: var(--font-prompt);
}

@keyframes toast-in {
  from {
    opacity: 0;
    transform: translateX(20px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes toast-progress {
  from {
    width: 100%;
  }

  to {
    width: 0%;
  }
}

